@{
    ViewData["Title"]= "404";
    Layout = "~/Views/Shared/ErrorLayout.cshtml";
}
<div class="error-container">
    <h1 class="error">404</h1>
    <h2>Not Found</h2>
    <a asp-action="Index" class="btn btn-lg btn-primary">Назад</a>
</div>