@model IEnumerable<ProductShopCardViewModel>
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Honey-Zone";
}
<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active ">
            <div class="card-slides" id="firstCard">
                <section id="card-content">
                    <h2 id="catch">Nature's <span id="highlightWord">golden</span> gift</h2>
                    <p id="info">Get in touch with the best <span id="highlightWord">honey</span> your senses can experiense</p>
                    <a asp-action="Index" asp-controller="Shop" class="btn btn-warning">Shop</a>
                </section>
               
            </div>
        </div>
        <div class="carousel-item">
            <div class="card-slides" id="secondCard">
                <section id="card-content">
                    <h2 id="catch"><span id="highlightWord">Exquisite</span> honey collection</h2>
                    <p id="info">Indulge in the ultimate honey experience and tantalize your taste buds with our exceptional selection.</p>
                    <a asp-action="Index" asp-controller="Shop" class="btn btn-warning">Shop</a>
                </section>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card-slides" id="thirdCard">
                <section id="card-content">
                    <h2 id="catch">Exquisite honey collection</h2>
                    <p id="info">Get in touch with the best honey your senses can experiense</p>
                    <a asp-action="Index" asp-controller="Shop" class="btn btn-warning">Shop</a>
                </section>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<section class="bestSellers-container">
    <h2 class="best-sellers-header">@Localizer["Bs"]</h2>
    <partial name="_HomeBestSellersPartialView" model="Model"></partial>
</section>
