@model DiscountByCategoryViewModel
<div class="actions bg-warning p-2 d-flex d-flex justify-content-around w-50 ">
    
      
            <a class="btn btn-outline-success btn-lg " data-bs-toggle="modal"
               data-bs-target="#discount-by-category">
                Set Discount By Category
            </a>

            <a class="btn btn-outline-dark btn-lg" data-bs-toggle="modal"
               data-bs-target="#cancel-discount-by-category">
                Remove Discount By Category
            </a>
    

    <div class="modal fade" id="discount-by-category" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form asp-action="SetDiscountByCategory" method="post" class="d-inline-block">
                    <div class="modal-body">
                        <strong>Warning!</strong>Are you sure you want to set a discount?
                        <div class="mb-3">
                            <label>Select category</label>
                            <select asp-for="CategoryId" class="form-control" aria-required="true">
                                <option disabled selected value="">Select Category...</option>
                                @foreach (var category in Model.Categories)
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            </select>
                            <span asp-validation-for="CategoryId" class="bg-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label>Enter % discount</label>
                            <input asp-for="Discount" name="Discount" />
                            <span asp-validation-for="Discount" class="bg-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

                        <button type="submit" class="btn btn-outline-success">
                            Apply
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="cancel-discount-by-category" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form asp-action="CancelDiscountByCategory" method="post" class="d-inline-block">
                    <div class="modal-body">
                        <strong>Внимание!</strong>Ще премахнете промоцията на всички продукти от тази категория. Сигурни ли сте?
                        <div class="mb-3">
                            <label>Избери категория</label>
                            <select name="Id" class="form-control" aria-required="true">
                                <option disabled selected value="">Select Category...</option>
                                @foreach (var category in Model.Categories)
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            </select>
                            <span asp-validation-for="CategoryId" class="bg-danger"></span>
                        </div>
                        <input hidden asp-for="Discount" value="10" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отказ</button>

                        <button type="submit" class="btn btn-outline-success">
                            Добави
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}