@model ErrorViewModel

@{
    ViewData["Title"] = "Error";
}
<div class="d-flex flex-column">
    <h1 class="text-danger">Unknown Error.</h1>
    <ul>
    <li>Request ID: @Model.RequestId</li>
    <li>Message: @Model.Message</li>
    <li>Source: @Model.Source</li>
    <li>Stack Trace: @Model.StackTrace</li>
    </ul>
</div>