<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["HoneyZone"] - HoneyZoneMvc</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HoneyZoneMvc.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/featured.css" />
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/picture-quote.css" />

    <link rel="stylesheet" href="~/css/animations.css" />
    <link rel="stylesheet" href="~/css/footer.css" />
    <link rel="stylesheet" href="~/css/header.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg ">
            <ul type="none" class="header-navigation ">
                <li class="header-navigation-li logo">
                    <img src="~/images/logo.png" alt="" />
                </li>
                <button class="navbar-toggler bg-warning"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarTogglerDemo01"
                        aria-controls="navbarTogglerDemo01"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">


                <li class="header-navigation-li options">
                    <ul type="none" id="navigation-ref">
                        <li>
                            <a asp-controller="AdminData" asp-action="Index" class="">Admin(Временно тук)</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Index" class="">Начало</a>
                        </li>
                        <li>
                            <a  class="">Магазин</a>
                        </li>
                        <li>
                            <a  class="">Галерия</a>
                        </li>
                        <li>
                            <a  class="">Вход</a>
                        </li>
                        <li class="header-navigation-li-svg">
                            <a ><img src="images/icons8-cart-24.png" alt="" /> </a>
                        </li>
                        </div>



                    </ul>



        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - HoneyZoneMvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
