@using HoneyZoneMvc.Infrastructure.Data.Models.ViewModels
@model ProductViewModel
@{
}
<div class="actions bg-warning p-2 d-flex d-flex justify-content-around w-50">
    <button class="btn btn-outline-success btn-lg" data-bs-toggle="modal"
            data-bs-target="#addProductModal">
        Създай продукт
    </button>
    <button class="btn btn-outline-success btn-lg" data-bs-toggle="modal"
            data-bs-target="#addProductModal">
        Задай промоция
    </button>
    <button class="btn btn-outline-success btn-lg" data-bs-toggle="modal"
            data-bs-target="#addProductModal">
        Създай продукт
    </button>
    <button class="btn btn-outline-success btn-lg" data-bs-toggle="modal"
            data-bs-target="#addProductModal">
        Създай продукт
    </button>
    <div class="modal fade sm"
         id="addProductModal"
         tabindex="-1"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                        Добави продукт
                    </h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form asp-action="Add" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <input asp-for="ProductDtoPattern.Id" type="hidden">
                            <label class="form-label mt-2 " asp-for="ProductDtoPattern.Name">Име</label>
                            <input asp-for="ProductDtoPattern.Name" class="form-control" />
                            <span asp-validation-for="ProductDtoPattern.Name" class="bg-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="ProductDtoPattern.Category" class="control-label">Категория</label>
                            <select asp-for="ProductDtoPattern.Category" asp-items="new SelectList(@Model.CategoryDtos.Select(c=>c.Name))" class="form-control"></select>
                            <span asp-validation-for="ProductDtoPattern.Category" class="bg-danger"></span>
                        </div>
                        <script>
                            
                            $.validator.addMethod("enumValidation", function (value, element, params) {
                                return value !== "0"; 
                            }, "Please select an option");

                           
                            $.validator.unobtrusive.adapters.addBool("enumvalidation");

                            
                            $(document).ready(function () {
                                $("form").validate();
                            });
                        </script>
                            <div class="input-group mb-2">
                            <label class="form-label mt-2 w-100" asp-for="ProductDtoPattern.Price">Цена</label>
                            <input asp-for="ProductDtoPattern.Price" class="form-control w-20 h-10" />
                            <span id="PriceValidation" asp-validation-for="ProductDtoPattern.Price" class="bg-danger"></span>
                                <div class="input-group-prepend">
                                    <span class="input-group-text">.лв</span>
                                    <span class="input-group-text">0.00</span>
                                </div>
                                
                            </div>
                           
                       
                        <div class="mb-3">

                            <label class="form-label mt-2 " asp-for="ProductDtoPattern.Description">Описание</label>
                            <input type="text" asp-for="ProductDtoPattern.Description" class="form-control" />
                            <span asp-validation-for="ProductDtoPattern.Description" class="bg-danger"></span>
                        </div>
                        <div class="mb-3">

                            <label class="form-label mt-2 " asp-for="ProductDtoPattern.QuantityInStock">Наличност в склад</label>
                            <input asp-for="ProductDtoPattern.QuantityInStock" class="form-control" />
                            <span asp-validation-for="ProductDtoPattern.QuantityInStock" class="bg-danger"></span>
                        </div>
                        <div class="mb-3">

                            <label class="form-label mt-2 " asp-for="ProductDtoPattern.ProductQuantity">Количество на продукта</label>
                            <input asp-for="ProductDtoPattern.ProductQuantity" class="form-control" />
                            <span asp-validation-for="ProductDtoPattern.ProductQuantity" class="bg-danger"></span>
                        </div>
                        <label class="form-label mt-1" asp-for="ProductDtoPattern.MainImageFile">Основна снимка</label>
                        <div class="input-group mb-3">
                            <input type="file" asp-for="ProductDtoPattern.MainImageFile"
                                   accept="image/jpg,image/png,image/jpeg" />
                            <span asp-validation-for="ProductDtoPattern.MainImageFile" class="bg-danger"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="button"
                                    class="btn btn-secondary"
                                    data-bs-dismiss="modal">
                                Отказ
                            </button> 
                            <button type="submit" class="btn btn-success" id="liveToastBtn">
                                Добави продукт
                            </button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>