<div class="actions bg-warning p-2 d-flex d-flex justify-content-around w-50 ">
    <a class="btn btn-outline-primary btn-lg " asp-area="Admin" asp-controller="Product" >Products</a>
    <a class="btn btn-outline-secondary btn-lg " asp-area="Admin" asp-controller="Order" >Orders</a>
    <a class="btn btn-outline-danger btn-lg " asp-area="Admin" asp-controller="Category">Categories</a>
    <a class="btn btn-outline-success btn-lg " asp-area="Admin" asp-controller="User">Users</a>

</div>
                      