@model IEnumerable<CategoryViewModel>
@{
}
<table class="table mb-10 mt-3 table-striped table-light table-bordered border-warning table-hover table-sm" id="categories"
       style="width:50%;">
    <thead>
        <tr class="text-center">
            <th scope="col">Идентификационен номер</th>
            <th scope="col">Име</th>
            <th scope="col">Действия</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var category in Model)
        {
            <tr>
                <th scope="row" class="align-middle">@category.Id</th>
                <td class="col-md-1">@category.Name</td>
                <td class="">
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteCategory-@category.GetHashCode()">
                        Изтриване
                    </button>

                    <!-- Модално прозорец -->
                    <div class="modal fade" id="deleteCategory-@category.GetHashCode()" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <strong class="bg-info">Важно!</strong> За да изтриете категорията, не трябва да има свързани с нея продукти.
                                    <br />
                                    <strong class="bg-warning">Внимание!</strong> Категорията ще бъде <strong class="bg-danger">ИЗТРИТА!</strong> Сигурни ли сте?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отказ</button>
                                    <form asp-action="DeleteCategory" method="post" class="d-inline-block">
                                        <input type="hidden" value="@category.Id" name="Id" />
                                        <button type="submit" class="btn btn-outline-danger">
                                            Изтриване
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
