@using HoneyZoneMvc.Infrastructure.Data.Models.ViewModels
@model ProductViewModel
@{
}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>


<div class="actions bg-warning p-2 d-flex d-flex justify-content-around w-50 ">
   
    <button class="btn btn-outline-primary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Добави
    </button>
    <ul class="dropdown-menu">
        <li>
            <button class="btn btn-outline-success btn-lg dropdown-item" data-bs-toggle="modal"
                    data-bs-target="#addProductModal">
                Добави продукт
            </button>

        </li>
        <li>
            <button class="btn btn-outline-success btn-lg dropdown-item" data-bs-toggle="modal"
                    data-bs-target="#addProductCategory">
                Добави Категория на продукт
            </button>
        </li>
    </ul>
    <button class="btn btn-outline-danger btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Изтрий
    </button>
    <ul class="dropdown-menu">
        <li>
            <button class="btn btn-outline-success btn-lg dropdown-item" data-bs-toggle="modal"
                    data-bs-target="#addProductModal">
                Изтрий продукт по Id
            </button>

        </li>
        <li>
            <button class="btn btn-outline-success btn-lg dropdown-item" data-bs-toggle="modal"
                    data-bs-target="#addProductCategory">
                Изтрий продукт по име
            </button>
        </li>
    </ul>
    <button class="btn btn-outline-success btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Промоции
    </button>
    <ul class="dropdown-menu">
        <li>
            <button class="btn btn-outline-success btn-lg dropdown-item" data-bs-toggle="modal"
                    data-bs-target="#addProductModal">
                Промоция по категория
            </button>

        </li>
        <li>
            <button class="btn btn-outline-success btn-lg dropdown-item" data-bs-toggle="modal"
                    data-bs-target="#addProductCategory">
                Промоция по Id
            </button>
        </li>
    </ul>
  
    <div class="modal fade sm"
         id="addProductCategory"
         tabindex="-1"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                        Добави категория на продукт
                    </h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form asp-action="AddProductCategory" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <input asp-for="CategoryView.Id" type="hidden">
                            <label class="form-label mt-2 " asp-for="CategoryView.Name">Име на категория</label>
                            <input asp-for="CategoryView.Name" class="form-control" />
                            <span asp-validation-for="CategoryView.Name" class="bg-danger"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="button"
                                    class="btn btn-secondary"
                                    data-bs-dismiss="modal">
                                Отказ
                            </button>
                            <button type="submit" class="btn btn-success" id="liveToastBtn">
                                Добави категория
                            </button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
    <div class="modal fade sm"
         id="addProductModal"
         tabindex="1"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                        Добави продукт
                    </h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form asp-action="AddProduct" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <input asp-for="ProductView.Id" type="hidden">
                            <label class="form-label mt-2 " asp-for="ProductView.Name">Име</label>
                            <input asp-for="ProductView.Name" class="form-control" />
                            <span asp-validation-for="ProductView.Name" class="bg-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="ProductView.Category" class="control-label">Категория</label>
                            <select asp-for="ProductView.Category" asp-items="new SelectList(@Model.CategoryDtos.Select(c=>c.Name))" class="form-control"></select>
                            <span asp-validation-for="ProductView.Category" class="bg-danger"></span>
                        </div>
                        <script>

                            $.validator.addMethod("enumValidation", function (value, element, params) {
                                return value !== "0";
                            }, "Please select an option");


                            $.validator.unobtrusive.adapters.addBool("enumvalidation");


                            $(document).ready(function () {
                                $("form").validate();
                            });
                        </script>
                        <div class="input-group mb-2">
                            <label class="form-label mt-2 w-100" asp-for="ProductView.Price">Цена</label>
                            <input asp-for="ProductView.Price" class="form-control w-20 h-10" />
                            <span id="PriceValidation" asp-validation-for="ProductView.Price" class="bg-danger"></span>
                            <div class="input-group-prepend">
                                <span class="input-group-text">.лв</span>
                                <span class="input-group-text">0.00</span>
                            </div>

                        </div>


                        <div class="mb-3">

                            <label class="form-label mt-2 " asp-for="ProductView.Description">Описание</label>
                            <input type="text" asp-for="ProductView.Description" class="form-control" />
                            <span asp-validation-for="ProductView.Description" class="bg-danger"></span>
                        </div>
                        <div class="mb-3">

                            <label class="form-label mt-2 " asp-for="ProductView.QuantityInStock">Наличност в склад</label>
                            <input asp-for="ProductView.QuantityInStock" class="form-control" />
                            <span asp-validation-for="ProductView.QuantityInStock" class="bg-danger"></span>
                        </div>
                        <div class="mb-3">

                            <label class="form-label mt-2 " asp-for="ProductView.ProductAmount">Количество на продукта</label>
                            <input asp-for="ProductView.ProductAmount" class="form-control" />
                            <span asp-validation-for="ProductView.ProductAmount" class="bg-danger"></span>
                        </div>
                        <label class="form-label mt-1" asp-for="ProductView.MainImageFile">Основна снимка</label>
                        <div class="input-group mb-3">
                            <input type="file" asp-for="ProductView.MainImageFile"
                                   accept="image/jpg,image/png,image/jpeg" />
                            <span asp-validation-for="ProductView.MainImageFile" class="bg-danger"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="button"
                                    class="btn btn-secondary"
                                    data-bs-dismiss="modal">
                                Отказ
                            </button>
                            <button type="submit" class="btn btn-success" id="liveToastBtn">
                                Добави продукт
                            </button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>