
@{
}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>


<div class="actions bg-warning p-2 d-flex d-flex justify-content-around w-50 ">
   
    <button class="btn btn-outline-primary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Добави
    </button>
    <ul class="dropdown-menu">
        <li>
            <a class="btn btn-outline-success btn-lg dropdown-item" asp-action="AddProduct">
                Добави продукт
            </a>

        </li>
        <li>
            <a class="btn btn-outline-success btn-lg dropdown-item" asp-action="AddProductCategory">
                Добави Категория на продукт
            </a>
        </li>
    </ul>
    <button class="btn btn-outline-danger btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Изтрий
    </button>
    <ul class="dropdown-menu">
        <li>
            <a class="btn btn-outline-success btn-lg dropdown-item" asp-action="DeleteProductWithId">
                Изтрий продукт по Id
            </a>

        </li>
        <li>
            <a class="btn btn-outline-success btn-lg dropdown-item" asp-action="DeleteProductWithName">
                Изтрий продукт по име
            </a>
        </li>
    </ul>
    <button class="btn btn-outline-success btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Промоции
    </button>
    <ul class="dropdown-menu">
        <li>
            <a class="btn btn-outline-success btn-lg dropdown-item" data-bs-toggle="modal"
                    data-bs-target="#addProductModal">
                Промоция по категория
            </a>

        </li>
        <li>
            <a class="btn btn-outline-success btn-lg dropdown-item" data-bs-toggle="modal"
                    data-bs-target="#addProductCategory">
                Промоция по Id
            </a>
        </li>
    </ul>
  
    
    
</div>