@model DiscountByCategoryViewModel
@{
}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>


<div class="actions bg-warning p-2 d-flex d-flex justify-content-around w-50 ">
   
    <button class="btn btn-outline-primary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Добави
    </button>
    <ul class="dropdown-menu">
        <li>
            <a class="btn btn-outline-success btn-lg dropdown-item" asp-action="AddProduct">
                Добави продукт
            </a>

        </li>
        <li>
            <a class="btn btn-outline-success btn-lg dropdown-item" data-bs-toggle="modal" data-bs-target="#addNewCategory">
                Добави Категория на продукт
            </a>
        </li>
    </ul>
    <div class="modal fade" id="addNewCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form asp-action="AddProductCategory" method="post" class="d-inline-block">
                    <div class="modal-body">
                        <strong>Внимание!</strong>Ще добавите нова категория на продукт. Сигурни ли сте?
                        <label>Въведи име на категорията</label>
                        <input type="text" name="Name" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отказ</button>

                        <button type="submit" class="btn btn-outline-success">
                            Добави
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <button class="btn btn-outline-danger btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Изтрий
    </button>
    <ul class="dropdown-menu">
        <li>
            <a class="btn btn-outline-success btn-lg dropdown-item" asp-action="DeleteProductWithId">
                Изтрий продукт по Id
            </a>

        </li>
        <li>
            <a class="btn btn-outline-success btn-lg dropdown-item" asp-action="DeleteProductWithName">
                Изтрий продукт по име
            </a>
        </li>
    </ul>
   
    
</div>