@using HoneyZoneMvc.Infrastructure.ViewModels.DTOs
@model ProductDto
<div class="modal fade"
     id="AddImage-@Model.Id"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Приложи промоция
                </h1>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="AddImageToModel" method="post" enctype="multipart/form-data">
                    <input hidden asp-for="Id" />
                    <label class="form-label mt-1" asp-for="MainImageFile">Основна снимка <span class="bg-warning">(Ако не се посочи снимка ще остане същата)</span> </label>
                    <div class="input-group mb-3">
                        <input type="file" asp-for="MainImageFile" class="form-control"
                               accept="image/jpg,image/png,image/jpeg" />
                        <span asp-validation-for="MainImageFile"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal">
                            Отказ
                        </button>
                        <button type="submit" class="btn btn-success">
                           Добави
                        </button>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>