.bestSellers-container{
    width:100%;
}
.best-sellers-header{
    background-color:white;
    margin-bottom:0px;
    text-align:center;
    padding-top:2em;
    font-size:3em;
    font-family:'Roboto-Mono';
    letter-spacing:0.4em;
}
.bestSellers {
    
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background: white;
    padding: 6em 2em;
}
.product-card:nth-child(2) {
    margin-top:-2em;
}

.product-card {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2em;
    animation: fadein 1s;
    border-radius:20px;
    background-color: black;
    max-width: 364px;
    gap: 1em;
    align-items: center;
}
    .product-card:hover {
        cursor: pointer;
        transition: 0.5s ease;
        background-color: #6d6c3a;
    }