.language-bar {
    background-color: #404040;
    display: flex;
    justify-content: flex-end;
}
#navigation-header {
    position: sticky;
    top: 0;
    z-index: 10;
}
.language-bar > .dropdown-toggle {
    text-decoration: none;
    color: white;
    margin-right: 1em;
    font-size: 0.8em;
    font-family: "Roboto Mono";
    letter-spacing: 0.2em;
}
        .language-bar > .dropdown-toggle > a {
            color: black;
            
        }
    .logo {
        width: 100px;
        height: auto;
        border-radius: 3px;
    }
@keyframes blink {
    0% {
        border-color: #ffc107;
    }

    50% {
        border-color: black;
    }

    100% {
        border-color: #ffc107;
    }
}
.navbar {
    border-bottom: 1px solid pink;
    animation:blink 7s infinite;
}
header > .navbar {
  display: flex;
  background-color: rgb(7 7 7);
  align-items: center;
}
#myNav{
    justify-content:space-around;
}
    #myNav > .myImageContainer {
        flex-grow: 0;
        width: fit-content;
    }
.options {
    display: flex;
    margin-right: 1em;
}
.navbar-nav, navbar-collapse {
    display: flex;
    gap: 1.5em;
    align-self: center;
    font-family: "Roboto Mono";
    font-weight: 300 !important;
    letter-spacing: 2px;
    max-width: fit-content;
    height: 90px;
    align-items: center;
}
#mainActions {
    width: fit-content;
    max-width: 55em;
    justify-content:center;
    flex-grow: 1;
    height: 90px;
}
    #mainActions > ul {
        width: 100%;
    }

.nav-link {
    display: flex;
    border-radius: 3px;
    padding: 0.1em 2.5em;
    transition: 0.5s;
    align-self: center;
}
    .nav-link:hover {
        box-shadow: 0 0 30px #ffc107;
        background-color: #ffc107;
    }

header > ul > li:nth-child(1) {
  margin-left: 5em;
  flex-basis: 55%;
}
.header-navigation {
  display: flex;
  width: 100%;
}
.header-navigation-li-svg > a > img {
  width: 30px;
}

.navbar-toggler {
    background-color: white;
    width:40px;
    height:30px;
}
.navbar-toggler svg {
        display: block;
        width: 100%;
}
#signedIn{

}