.carousel{
    width:100%;
}
.card-slides {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Adjust width as needed */
    height: 800px; /* Adjust height as needed */
    position: relative; /* Establish positioning context */
    overflow: hidden; /* Hide overflow from content */
}
#highlightWord {
    color: #ffc107;
}
.card-slides::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    z-index: -1;
}
#firstCard::before {
    background-image: url("../images/bees-gd2a4cbde8_1920.jpg");
    filter: brightness(0.4);
    background-size: cover;
    background-position: center;
}
#secondCard::before {
    background-image: url("../images/busy-bee-pollinating-flower-bumblebee-work-generated-by-ai.jpg");
    filter: brightness(0.4);
    background-size: cover;
    background-position: center;
}
#thirdCard::before {
    background-image: url("../images/closeup.jpg");
    filter: brightness(0.4);
    background-size: cover;
    background-position: center;
}

#card-content {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
}
#catch{
    font-size:80pt;
}
#info {
    font-size: 20pt;
    margin-bottom: 2em;
    width: 80%;
}
#card-content a{
    width:6em;
}
@media (max-width: 650px){
    #card-content h2{
        font-size:40pt;
    }
    #card-content p {
        font-size: 14pt;
    }
}

#faq {
    padding: 4em;
    background-color: #eeeeee;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    #faq h2 {
        letter-spacing: 0.2em;
        font-size: 40pt
    }
    #faq section  {
        display:flex;
        align-items:center;
        justify-content:space-around;
    }
#faq section img{
    width:20%;
}
#faq section #questions {
   width: 30%;
}
@media (max-width: 650px) {
    #faq section #questions {
        display:flex;
        flex-wrap:wrap;
    }
    #faq section img {
        width: 40%;
    }
}