.my-products-section{
   
}
.all-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:2em;
    margin-bottom: 2em;
}

@keyframes fadein {
    from {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-10%);
    }

    to {
        opacity: 1;
        filter: none;
        transform:translateX(0);
    }
}

.all-products .product-card {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2em;
    flex-basis:50%;
    animation:fadein 1s;
    /**/
    background-color: black;
    max-width: 364px;
    gap: 1em;
    align-items: center;
}
.all-products  {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0px);
}
#product-image {
    color: white;
    max-width: 20em;
    max-height: 20em;
    margin-bottom: 1em;
    flex-shrink:1;
}
    .product-card > .name {
        border-bottom: 1px solid #ffc107;
        padding-bottom: 1em;
        font-size: 18px;
        text-align: center;
        font-family: "Roboto Mono";
        font-weight: 200;
        letter-spacing: 2px;
    }

.view-here:hover {
  background-color: white;
  color: black;
  border-radius: 20px;
  filter: blur(0px);
}
.all-products .product-card:hover {
    transition: 1.5s linear;
    background-color: #000000a1;
}
.product-card .price {
    margin-top: 0.5em;
    font-size: 20px;
    text-align: center;
    display: inline;
    font-family: "Roboto Mono";
    font-weight: 300;
}
.row {
  margin-top: 0.2em;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.product-card .buy {
    padding: 0.2em 0.4em;
    color: white;
    font-size: 20px;
    letter-spacing: 0.1em;
    transition: 0.15s;
    background-color: #ffc107;
    font-family: "Roboto Mono";
    font-weight: 800;
    margin-top:auto;
    width:8em;
}
    .product-card .buy:hover {
        background-color: white;
        color: #ffc107;
        filter: blur(0px);
        letter-spacing: 0.25em;
        box-shadow: 0 0 100px #ffc107;
    }
.price-before {
    text-decoration: line-through;
    opacity: 0.7;
    color: #ff0404;
}
@media (max-width: 1025px) {
    #product-image {
        max-width: 10em;
        max-height: 10em;
    }
}
@media (max-width: 1405px) {
    #filter{
        width:100%;
    }
    .all-products {
        padding: 0px;
    }

    #product-image {
    }

    .product-card {
    }

        .product-card > .name {
            border: none;
            font-size: 13pt;
        }

    .best-sellers-header {
        font-size: 13pt;
    }

    .product-card .row > * {
        font-size: 11pt;
    }

    .product-card .buy {
        width: 5em;
    }
    .store-section {
        flex-direction: column;
    }

    .all-products {
        grid-template-columns: repeat(2, 1fr)
    }
    #filter {
        width: 100%;
    }
}
@media (max-width: 1626px){
    .store-section {
        flex-direction: column;
    }
   
}
@media (max-width: 500px) {
    .all-products {
        grid-template-columns: repeat(2, 1fr);
        column-gap:1em;
    }
        .all-products .product-card {
            max-width: 100%;
            padding:1em;
        }
        .all-products .product-card p{
            font-size:9pt;
            margin:0px;
            padding:0px;
        }
            .all-products .product-card #product-image {
                max-width: 7em;
            }
}