@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

.error-container {
    text-align: center;
    vertical-align:middle;
    margin-top:10em;
}

.error {
    font-size: 150px;
    font-family: 'Rowdies', cursive;
    font-weight: 700;
}