@using HoneyZoneMvc.Infrastructure.Data.Models
@model IEnumerable<ProductCartViewModel>


    <div class="cart-container">
        <form asp-action="CartConfirmed" method="post" class="cart-information">

        <section class="products-cart">
            
                @for (var i = 0; i < Model.Count(); i++)
                {
                    <section class="product-container">
                        <input type="text" name="[@i].Id" value="@Model.ElementAt(i).Id" hidden />
                            <img src="~/productImages/@Model.ElementAt(i).MainImageName" />
                            <label class="name">@Model.ElementAt(i).Name</label>

                            <label class="price">@Model.ElementAt(i).Price</label>


                            <input class="quantity" type="number" name="[@i].Quantity" value="@Model.ElementAt(i).Quantity" />
                       
                    </section>
                }
          
            }
        </section>
       
            <button type="submit" class="btn btn-outline-success">Поръчай!</button>
        

        </form>
        

    </div>
