@model ShopViewModel
@{
}
<div class="search-bar">
    <input type="text" id="productName" placeholder="Въведи име на продукт" class="productSearch" />
    <button id="searchButton" class="btn btn-warning">Търси</button>
</div>

   
<section class="store-section">
    <section class="filter">
        <ul type="none" id="filter">
            <h1 class="ul-header">Filters</h1>
            <li>
                <a class="btn" id="filter-action" asp-action="Index" asp-route-category="All">All</a>
            </li>
            @foreach (var category in Model.Categories.Select(c=>c.Name))
            {
                <li>
                    <a class="btn" id="filter-action" asp-action="Index" asp-route-category="@category">@category</a>

                </li>
            }
            <li>
            <li>
                <a class="btn" id="filter-action" asp-action="Index" asp-route-bestSellers="Best Sellers">Best Sellers</a>
            </li
        </ul>
    </section>
    <section products>

        <ul type="none" class="all-products">
            <partial name="_ProductsInShopPartialView" model="Model.Products" />
        </ul>
    </section>

</section>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#searchButton').click(function () {
                var productName = $('#productName').val();
                console.log(productName);

                $.ajax({
                url: 'https://localhost:44323/Shop/Index', // Replace with the correct URL
                method: 'GET',
                data: { searchBy: productName },
                success: function (response) {
                    console.log(response);
                    $('.all-products').html(response);
                    
                },
                     error: function (xhr, status, error) {
                    console.error(xhr.responseText); // Log any errors to the console
                    }
                });
            });
        });
    </script>
