@model ChangeOrderStatusViewModel
@{
}

<form asp-action="ChangeStatus" class="bg-light mt-5 p-5" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <input asp-for="Id" type="hidden">
        <div class="mb-3">
            <label><strong class="bg-warning">Внимание:</strong> Ще промените статуса на поръчката! Сигурни ли сте?</label>
            <br />
            <label>Изберете статус: </label>
            <select asp-for="StatusId" class="form-control" aria-required="true">
                <option disabled>Текущ статус: "@Model.CurrentStatus"</option>
                @foreach (var status in Model.Statuses)
                {
                    <option value="@status.Id">@status.Name</option>
                }
            </select>
            <span asp-validation-for="StatusId" class="bg-danger"></span>
        </div>
    </div>
    <div class="modal-footer">
        <a type="button"
           class="btn btn-secondary"
           asp-action="Index">
            Отказ
        </a>
        <button type="submit" class="btn btn-success" id="liveToastBtn">
            Промени статуса
        </button>
    </div>
</form>
