.about {
  text-align: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}
.about > h1 {
  margin-top: 5em;
  font-size: 23px;
  color: white;
}
.about > p {
  width: 500px;
  color: white;
  margin-bottom: 2em;
}
footer {
  background-color: rgb(227 202 88);
  display: flex;
  justify-content: space-evenly;
  gap: 2em;
}
#myFooter {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
footer > ul {
    margin: 4em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
footer > ul > li > a > svg {
  font-size: 40px;
}
footer > ul > li > a {
  color: black;
}
