.product-card:nth-child(1) {
  transition: 300ms;
}
.product-card:nth-child(2) {
  transition: 600ms;
}
.product-card:nth-child(3) {
  transition: 1000ms;
}
.product-card:hover {
  background-color: rgb(227 202 88);
  a {
    background-color: white;
  }
}
