@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.picture-quote {
    display: flex;
    justify-content: center;
    font-family: Montserrat;
    background-color: rgba(0, 0, 0, 0.63);
    margin: 0em 0em 3em;
    padding: 0em 6em 12em;
    width:100%;
}
.opening-card {
    width: 100%;
    display:flex;
    justify-content:center;
}
 
#carouselExampleCaptions {
    width: 1400px;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.752);
}
.carousel-caption p {
  text-transform: capitalize;
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex;
    justify-content: center;
}
.carousel-item > img {
    aspect-ratio: 16/9;
    max-width: 100%;
    max-height: 800.5px;
}
.carousel-control-prev {
    background-color: rgba(0, 0, 0, 0.355);
    max-width: 50px;
    transition: 0.5s;
}
.carousel-control-next {
    background-color: rgba(0, 0, 0, 0.355);
    max-width: 50px;
    transition:0.5s;
}
.carousel-control-prev:hover {
    background-color: #ffc107
}
.carousel-control-next:hover {
    background-color: #ffc107
}
.carousel-caption{
    left:0%;
    width:100%;
}
.carousel-caption>h5 {
    font-family:"Roboto Mono";
    font-weight:700;
    letter-spacing:3px;
}
    .carousel-caption >p {
        font-family: "Roboto Mono";
        font-weight: 200;
        letter-spacing: 3px;
    }