.minus:hover,
.plus:hover,
.add-to-cart:hover {
  background-color: rgb(227 202 88);
  color: white;
  border-color: white;
}

.add-to-cart:hover,
.add-to-cart:focus-visible {
  transform: translateY(-1.2rem);
  transition: transform 250ms;
}
