.search-bar {
  text-align: center;
}
.bar {
  font-size: 20px;
  width: 300px;
  background-color: rgb(227 202 88);
  padding: 0.2em 0.4em;
  border-radius: 30em;
}
.all-products {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.product-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.all-products .product-card > img {
  width: 100px;
}

.all-products .show {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0px);
}

.all-products .view-here:hover {
  background-color: white;
  color: black;
  border-radius: 20px;
  filter: blur(0px);
}
.all-products .product-card:hover {
  background-color: rgba(246, 246, 115, 0.488);
}
.product-card .price span {
  font-size: 16px;
  text-align: center;
  background-color: green;
}
.info {
  display: flex;
  padding: 0.5em;
  border: 1px solid white;
}
.col {
  margin-top: 0.2em;
  display: flex;
  flex-direction: column;
  gap: 1em;

  padding: 0.3em;
}
.description {
  width: 600px;
  color: white;
}
.description span {
  background-color: blueviolet;
}
.col .name span {
  background-color: rgba(40, 82, 209, 0.763);
}
.stock span {
  background-color: rgba(223, 226, 29, 0.763);
}
.col > * {
  color: white;
}

.product-card .buttons {
  display: flex;
  margin-left: 5em;
  gap: 1em;
}
.buttons * {
  font-size: 22px;
  padding: 0.5em 1em;
  transition: 0.5s;
}
.buttons *:hover {
  letter-spacing: 0.1em;
  cursor: pointer;
}
.buttons .delete {
  background-color: red;
  color: white;
}
.buttons .edit {
  background-color: rgb(227 202 88);
  color: white;
}
.buttons .sale {
  background-color: rgb(20, 230, 83);
  color: white;
}
.buttons .photo {
  background-color: rgb(20, 199, 230);
  color: white;
}
