@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

body {
  height: 1000px;
  justify-content: center;
}
.container {
  background-color: black;
  color: white;
  padding: 5em 3em;
  display: flex;
  justify-content: center;
}
@keyframes blink {
  0% {
    border-color: red;
  }
  50% {
    border-color: green;
  }
  100% {
    border-color: red;
  }
}

.container {
  border: 2px solid;
  animation: blink 20s infinite;
  width: 30%;
  gap: 4em;
  flex-direction: column;
}
.container > header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container > header > h1 {
  font-family: Lobster;
  font-size: 30px;
}
.container > header > img {
  max-width: 200px;
  min-width: 100px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form > .actions {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
form > .btn {
  display: inline;
}
