.picture-quote {
  background-image: url(honey.jpg);
  background-position: center;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
}

.opening-card {
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.opening-card > * {
  color: white;
}
.opening-card > h1 {
  font-size: 56px;
  font-weight: 800;
}
.opening-button {
  background-color: rgb(227 202 88);
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  border-color: rgb(227 202 88);
}
.opening-button a {
  color: black;
  display: block;
  width: 580px;
  height: 100%;
  padding: 1em;
}
.opening-button a:hover {
  background-color: black;
  color: rgb(227 202 88);
}
