.all-products {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-bottom: 2em;
}
.all-products .product-card {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 2em;
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
  transform: translateX(-100%);
}
.all-products .show {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0px);
}
.all-products .product-card > img {
  color: white;
  width: 300px;
  height: auto;
}
.all-products .product-card > .name {
  border-bottom: 1px solid rgb(227 202 88);
  padding-bottom: 1em;
  font-size: 18px;
  text-align: center;
}

.all-products .view-here:hover {
  background-color: white;
  color: black;
  border-radius: 20px;
  filter: blur(0px);
}
.all-products .product-card:hover {
  background-color: rgba(246, 246, 115, 0.488);
}
.product-card .price {
  margin-top: 0.5em;
  font-size: 20px;
  text-align: center;
  display: inline;
  flex-basis: 80%;
}
.row {
  margin-top: 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.product-card .buy {
  padding: 0.2em 0.4em;
  color: white;
  font-size: 20px;
  letter-spacing: 0.1em;
  transition: 0.5s;
  background-color: rgb(227 202 88);
}
.product-card .buy:hover {
  background-color: white;
  color: black;
  filter: blur(0px);
  letter-spacing: 0.25em;
  margin-left: -0.6em;
}
